.page-title h2{
	color:#EC644B;
}

.social-icons a:hover{
	color:#EC644B;
 	border: solid 1px #EC644B;
}

ul.top-menu li a:hover{
	color:#EC644B;
}

ul.top-menu li .selected{
	color:#EC644B;
}

.skill-list .progress{
    border: 1px solid #EC644B;
}

.skill-list .progress .percentage {
    background-color: #EC644B;
}

.services .service i{
    background: #EC644B;
}

.rounded-icon i{
	background:#EC644B;
}

.info-title::after {
    background: #EC644B;
}

.info-date{
    color: #EC644B;
}

.select-cat{
	color:#EC644B !important;
}

.blog-post .post-info{
	color:#EC644B;
}

.but-big{
	background-color: #EC644B;
}

.social-icons a:hover{
	color:#EC644B;
 	border: solid 1px #EC644B;
}

ul.top-menu li a:hover{
	color:#EC644B;
	transition:all ease 0.2s;
}

ul.top-menu li .selected{
	color:#EC644B;
}

.date a {
	color:#EC644B;
}

a.reply {
	color:#EC644B;
}























