.page-title h2{
	color:#2574a9;
}

.social-icons a:hover{
	color:#2574a9;
 	border: solid 1px #2574a9;
}

ul.top-menu li a:hover{
	color:#2574a9;
}

ul.top-menu li .selected{
	color:#2574a9;
}

.skill-list .progress{
    border: 1px solid #2574a9;
}

.skill-list .progress .percentage {
    background-color: #2574a9;
}

.services .service i{
    background: #2574a9;
}

.rounded-icon i{
	background:#2574a9;
}

.info-title::after {
    background: #2574A9;
}

.info-date{
    color: #2574A9;
}

.select-cat{
	color:#2574a9 !important;
}

.blog-post .post-info{
	color:#2574a9;
}

.but-big{
	background-color: #2574a9;
}

.social-icons a:hover{
	color:#2574a9;
 	border: solid 1px #2574a9;
}

ul.top-menu li a:hover{
	color:#2574a9;
	transition:all ease 0.2s;
}

ul.top-menu li .selected{
	color:#2574a9;
}

.date a {
	color:#2574a9;
}

a.reply {
	color:#2574a9;
}



















